extends ./layout/index

block content
    main(class="container mt-5")
        h1(class="text-center mt-5") #{sectionName}
        blockquote(class="text-center") ¡Lee sobre nuestro clientes y sus experiencias!

        include ./layout/block-testimonials

        div(class="row")
            div(class="col-md-12")
                h2(class="d-block w-100 text-center") Agrega un testimonial

                if( errors )
                    each error in errors
                        div(class="col alert alert-danger text-center") #{error.message}

            div(class="row justify-content-center col")
                div(class="col-md-8")
                    form(action="/testimoniales", method="POST")

                        div(class="form-group")
                            label(for="name") Nombre
                            input(id="name", type="text", placeholder="Tu nombre", name="name", class="form-control", value=name)

                        div(class="form-group")
                            label(for="email") Correo Electrónico
                            input(id="email", type="text", placeholder="Tu correo", name="email", class="form-control", value=email)

                        div(class="form-group")
                            label(for="message") Mensaje
                            textarea(id="message", name="message", placeholder="Tu mensaje", rows=3, class="form-control") #{message}
                        
                        input(class="btn btn-success btn-block", type="submit", value="Enviar testimonial")